# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **religious events or traditions** (see below) for the region of **Ann Arbor, Michigan, United States**, or **United States** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Ann Arbor, Michigan, United States** to Ann Arbor, USA. In that case at least one source file must be about **Ann Arbor, Michigan, United States**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairoâ€™s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Ann Arbor, Michigan, United States** and **religious events or traditions**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **religious events or traditions**?  For this category you might consider calendar events, demographic data about religion in the region and neighboring regions, participation in religious events, or how religious events relate to political events, social movements, or historical events.

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

# My Project

## Research Question

What is the relevance over time of the top 3 religions in the USA, compared to the world?

## Data Sources

- [Global data](https://www.kaggle.com/umichigan/world-religions?select=global.csv)
- [National data](https://www.kaggle.com/umichigan/world-religions?select=national.csv)

In [1]:
######################
## Import Libraries ##
######################

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
#####################################
## Data Processing - National data ##
#####################################

## Loading data:
df_national = pd.read_csv("national.csv")


## Filtering desired data:

# Keeping only USA data:
df_national = df_national[df_national["code"]=="USA"]

# Evaluating top religions:
# Transpose to sort:
top = df_national.set_index('year').transpose()
# Drop non numeric content and total value:
top.drop(labels=['code', 'state', 'religion_all'], inplace=True)
# Keep only total values, that is, the ones that end with _all:
top = top.filter(regex='_all$', axis=0)
# Sort to obtain the top 3 religions:
top.sort_values([1980], ascending=False, inplace=True) # descending order
# NOTE: You can change the year value above to see that the top 3 are always the same
# Keeping only top 3 religion data:
top = top.head(3)
# Just to visualize:
top

year,1945,1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010
christianity_all,110265118,122994019,134001770,150234347,167515758,172867051,182810532,186649864,199787782,214425162,215593975,219818305,226464805,233111307
noreligion_all,22874544,22568130,23303540,21548225,19852362,20474592,24789671,26813635,25396899,24413914,34475517,44537120,51781800,59422500
judaism_all,4641182,6090837,5333332,5500000,5600000,6150000,6700000,7259000,7510000,5508504,5259463,5010424,5536622,5942248

In [37]:
###################################
## Data Processing - Global data ##
###################################

## Loading data:
df_global = pd.read_csv("global.csv")


## Filtering desired data:

# Set year to index and keep only the top 3 USA religions:
df_global.set_index('year', inplace=True)
df_global = df_global[top.index.values]
# Transpose the dataframe to have same format as top:
df_global = df_global.transpose()

# Just for visualization:
df_global.head()

year,1945,1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010
christianity_all,701350290,696480122,836002102,966967595,1074713786,1176605676,1300116609,1392078609,1506919051,1695081219,1785414969,1890923184,1990731467,2111912953
noreligion_all,153486530,192925316,304128449,434629671,474097850,588838181,690431832,737801266,788196309,838271280,802280726,782412122,743821311,788323943
judaism_all,12009400,13698294,12986204,13728856,14253679,14833409,15914548,16606995,16782995,14869547,14072306,13446312,14270328,14023309